baseURL = "https://blog.han.life/"
languageCode = "en-au"
theme = "PaperMod"
summarylength = 10
enableEmoji = true
enableRobotsTXT = true

[pagination]
pagerSize = 5

[params]
env = "production"
title = "Logan's Nest"
description = "Just another IT blog"
keywords = ["Blog", "Portfolio"]
author = "Logan Han"
dateFormat = "2 January, 2006"
defaultTheme = "auto"
disableThemeToggle = false
ShowReadingTime = true
ShowShareButtons = false
ShowPostNavLinks = true
ShowBreadCrumbs = true
ShowCodeCopyButtons = true
ShowWordCount = true
ShowRssButtonInSectionTermList = true
UseHugoToc = true
disableSpecial1stPost = false
disableScrollToTop = false
comments = false
hidemeta = false
hideSummary = false
showtoc = true
tocopen = true

[params.profileMode]
enabled = true
title = "Logan's Nest"

[[params.profileMode.buttons]]
name = "Posts"
url = "posts"

[[params.socialIcons]]
name = "linkedin"
url = "http://linkedin.com/in/loganhan"

[[params.socialIcons]]
name = "github"
url = "https://github.com/logan-han"

[[params.socialIcons]]
name = "email"
url = "mailto:logan@thisdomain"

[params.analytics.google]
SiteVerificationTag = "G-CVEBFCXFSW"

[params.cover]
hidden = true
hiddenInList = true
hiddenInSingle = true

[params.fuseOpts]
isCaseSensitive = false
shouldSort = true
location = 0
distance = 1000
threshold = 0.4
minMatchCharLength = 0
keys = ["title", "permalink", "summary", "content"]

[menu]
[[menu.main]]
identifier = "posts"
name = "Posts"
url = "/posts/"
weight = 10

[[menu.main]]
identifier = "archives"
name = "Archives"
url = "/archives/"
weight = 30

[[menu.main]]
identifier = "search"
name = "Search"
url = "/search/"
weight = 40

[markup.goldmark.renderer]
unsafe = true

[markup.highlight]
noClasses = false
codeFences = true
guessSyntax = true
lineNos = true
style = "github"

[services.instagram]
disableInlineCSS = true

[services.x]
disableInlineCSS = true

[imaging]
quality = 85
resampleFilter = "Lanczos"

[outputs]
home = ["HTML", "RSS", "JSON"]
